<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="BkWpAppender" class="LoggerAppenderFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date [%logger] %message%newline" />
        </layout>
        <param name="file" value="/var/www/html/wp/bkwp.log" />
    </appender>
    <root>
        <level value="TRACE" />
        <appender_ref ref="BkWpAppender" />
    </root>
</configuration>